/* @font-face {
    font-family: 'default-font';
    src: url('../../font/opensans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'default-font';
    src: url('../../font/opensans-black.woff');
    font-weight: 900;
    font-style: black;
}

@font-face {
    font-family: 'default-font';
    src: url('../../font/opensans-semibold.woff');
    font-weight: 600;
    font-style: bold;
} */


body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}

.banner-edit {
	position: absolute;
    height: 35px;
    object-fit: contain;
    width: fit-content;
    right: -15px;
    top: -15px;
    cursor: pointer;
}

.activeSidebar {
	background: #e7ebf7;
	color: #4d6de3 !important
}

a:hover {
	text-decoration: none;
}

.main-header .navbar-default {
	background: transparent;
	border: 0;
	margin-bottom: 0;
	padding-top: 25px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.main-header {
	background: -moz-linear-gradient(270deg, rgba(9,14,15,0.95) 0%, rgba(255,255,255,0) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(9,14,15,0.95)), color-stop(100%, rgba(255,255,255,0))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(9,14,15,0.95) 0%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(9,14,15,0.95) 0%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(9,14,15,0.95) 0%, rgba(255,255,255,0) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(9,14,15,0.95) 0%, rgba(255,255,255,0) 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.main-header ul li{
	list-style: none;
	display: inline-block;
}

.main-header ul {
	padding-left: 0;
}

.nav-wrapper {
	padding-right: 0;
}

.hamburger-menu {
	display: none;
}

a:focus{
	 text-decoration: none;
	 border: 0;
}

.main-header ul li a {
	color: #fff;
	font-weight: 600;
	margin: 0 10px;
	border-radius: 3px;
}

.main-header .mid-nav li:first-child a {
	background: #4d6de3;
	padding: 10px 30px;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;

}

.navbar-brand {
	padding: 0;
}

.navbar-brand a img {
	height: 43px;
}

.navbar-header {
	padding-left: 0;
}

.main-header ul li a:hover {
	color: #fff;
}

.right-nav {
	padding-right: 0;
	text-align: right;
}

.main-banner {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.banner-text {
	width: 50%;
	position: absolute;
	top: 50%;
	color: #fff;
	transform: translateY(-50%);
}

.banner-text h2 {
	font-weight: 900;
	font-size: 48px;
	margin-top: 0;
	margin-bottom: 25px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.56);
}

.banner-text p {
	font-size: 24px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.56);
}

.banner-text a {
	background: #4d6de3;
	color: #fff;
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 20px;
	display: inline-block;
	border-radius: 3px;
}

.main-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.banner-wrapper {
	position: relative;
}

.info-text{
	padding-left:0;
	padding-top: 80px;
}

.video-container {
	text-align: center;
	padding-right: 0;
	padding-top: 80px;
}

.video-container video {
	width: 450px;
}

.info-slider {
	position: relative;
	padding-bottom: 150px;
	overflow: hidden;
}

.decorative-container {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: url('../background.jpg');
	background-size: cover;
	width: 50%;
}

.slick-initialized .slick-slide:focus {
	border : 0;
	outline: none;
}

.info-text h2 {
	font-weight: 900;
	font-size: 48px;
	margin: 0;
	margin-bottom: 25px;
}

.info-text p {
	font-size: 22px;
}

.personal-info {
	margin-top: 30px;
}

.personal-info img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
	display: inline-block;
	float: left;
}

.personal-info-text {
	display: inline-block; 
	padding-left: 30px;
}

.personal-info-text .person-name {
	font-weight: 700;
	font-size: 18px;
	display: block;
}

.slick-next:before,
.slick-prev:before{
	display: none;
}

.info-slider .slick-next {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.offers-sliders {
	background: #f6f9fc;
	padding: 40px 0;
	position: relative;
}

.offers-sliders:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -100px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 100px 100vw;
	border-color: transparent transparent #f6f9fc transparent;
}

.offers-sliders h2 {
	font-weight: 900;
	text-align: center;
	font-size: 44px;
	margin-bottom: 20px;
}

.offers-sliders h4 {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	display: block;
	width: fit-content;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
}

.offers-sliders h4:before {
	content: '';
	display: inline-block;
	height: 4px;
	width: 50px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	background: #4d6de3;
	margin: 0 auto;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%) ;
	-o-transform: translateX(-50%) ;
}

/*.offers-slider {
	display: flex;
	align-items: center;
}*/

.offers-sliders .main-content {
	display: flex;
	align-items: center;	
}

.offers-sliders .main-content img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	object-fit: cover;
	float: left;
	margin-right: 20px;

}

.offers-sliders .main-content p {
	display: inline-block;
	font-size: 13px;

}

.main-offers-wrapper {
	padding: 0;
	background: #fff;
	margin: 0 20px;
	border-radius: 5px;
	padding-right: 10px;
	display: flex !important;
	justify-content: space-between ;
	flex: 1;
	box-shadow: 1px 1px 7px #888;
}

.main-offers-wrapper .col-md-3 {
	padding-left: 0;
}

.main-offers-wrapper h5{
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid #D5D5D5;
	padding-bottom: 10px;
}

 .slider-container {
	padding: 0;
	margin-top : 30px;
}

.main-offers-wrapper .col-md-3 img {
	width: 100px;
	object-fit: cover;
	min-height: 100%;
	float: left;
    min-height: 176px;
}

.main-offers-wrapper .col-md-8 {
	padding: 0;
	float: right;
}

.bottom-content {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.bottom-content img {
	display: inline-block;
	float: left;
}

.bottom-content .rate {
	float: right;
	font-weight: 700;
}

.slider-container .slick-list {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.slider-container .slick-next,
.slider-container .slick-prev {
	z-index: 100;
	height: 75px;
	width: 75px;
}

.slider-container .slick-prev {
	left: 13px;
}

.slider-container .slick-next {
	right: 13px;
}

.slider-container .slick-next img {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.slider-container .slick-next img,
.slider-container .slick-prev img {
	height: 75px;
}


.main-footer {
	background: #32353b;
	color: #fff;
	padding-top: 50px;
}

.main-footer ul {
	padding: 0;
}

.main-footer li {
	list-style: none;
}

.main-footer ul li a {
	color: #fff;
	font-size: 13px;
	margin-top: 10px;
	display: inline-block;
	opacity: 0.6;
}

.main-footer ul li a:hover {
	text-decoration: none;
	color: #fff;
	opacity: 1;
}

.main-footer h4 {
	font-size: 16px;
	font-weight: 600; 
	margin-bottom: 0;
}


.main-footer .col-md-2:first-child {
	padding-left: 0;
}

.account-menu {
	margin-top: -10px;
	position: relative;
}

.account-list {
	position: absolute;
	width: 250px;
	text-align: left;
	background: #fff;
	right: 0px;
	top: 55px;
	height: 0;
	overflow: hidden;

}

.account-list:before {
	content: '';
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom:10px solid #fff;
	position: absolute;
	top: -20px;
	right: 12px;
}

.dummy-hover {
	height: 20px;
	width: 100%;
	position: absolute;
	top: -20px;
	left: 0px;
}

.account-list li {
	display: block !important;
}

.account-list li a {
	display: block;
	width: 100%;
	border-bottom: 1px solid #d9e2ea;
	color: #838080 !important;
	border-radius: 0px !important;
	margin-left: 0 !important;
	padding: 8px 10px;
	font-size: 13px;
	z-index: -1;
}



.main-banner .slick-dots {
	bottom: 10px;
    text-align: left;
    position: unset;
    text-align: center;
    margin-top: -40px;
}

.main-banner .slick-active {
	background: #4d6de3 !important;
}

.main-banner .slick-dots li {
	background: #fff;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

.main-banner .slick-dots li button:before {
	display: none;
}

.account-menu .user-image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: -10px;
}

.main-footer .col-md-3 {
	padding-right: 0;
}

.account-menu .name {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 7px;
	color: #000;
}


.main-footer .social-media img {
	height: 14px;
}

.main-footer .social-media li {
	display: inline-block;
	float: left;
	padding-right: 30px;
}



.main-footer .footer-logo {
	height: 37px;
}

.main-footer .social-media-holder h4{
	margin-top: 90px;
}

.main-footer .footer-container {
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(255,255,255,.6);
}

.footer-outro p{
	margin-bottom: 0;
	text-align: center;
	font-size: 13px;
	opacity: 0.9;
}

/*.slick-slider {
	overflow: hidden;
}*/


.notification-menu {
	position: relative;
}

.notification-menu span {
	position: absolute;
    right: -12px;
    top: -11px;
    display: inline-block;
    background: red;
    width: 20px;
    height: 20px;
    z-index: 1000;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
}

.inside-page .notification-menu span {
	background: #4d6de3;
}

.footer-outro {
	padding: 30px 0;
}

/*for-second-page*/

.main-banner-after-login img{
	height: 100vh;
}

.account-menu:hover .account-list{	
	height: auto !important;
	overflow: visible;
	background: #fff;
}

.modal {
	color: #333;
}

.modal-title {
	font-size: 18px;
	font-weight: bold;
}

.modal-header {
	text-align: center;
}

.close span{
	display: inline-block;
	height: 1px;
	width: 20px;
	background: #8d8a8a;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	position: absolute;
	left: 0;
	top: 9px;
}

.main-signup-content {
	padding: 40px;
    padding-bottom: 15px;
}
.modal .close {
	position: absolute;
    height: 20px;
    width: 20px;
    right: 18px;
    top: 16px;
    opacity: 1 !important;
    z-index: 1000;
}

.form-control {
	color: #333;
	padding: 25px;
}

.modal-body {
	padding : 40px;
	padding-bottom: 15px;
}

.modal .btn-primary {
	width: 100%;
	border-radius: 2px;
	padding: 12px;
	font-weight: 600;
	font-size: 15px;
}

.close:focus {
	border: 0;
	outline: 0;
}

.seperator {
	width: 100%;
	text-align: center;
	position: relative;
	font-weight: 600;
	margin: 35px 0;
}

.seperator::before,
.seperator::after {
	content: '';
	position: absolute;
	content: 0;
	top: 10px;
	left: 0px;
	width: calc(50% - 20px);
	height: 1px;
	background: #f4f4f4;
}

.social-media-login {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

.seperator::after {
	left: auto;
	right: 0;
}

.social-media-login a {
	display: inline-block;
	width: calc(50% - 10px);
	border: 1px solid #000;
	width: calc(50% - 10px);
    padding: 10px;
    border-radius: 2px;
    border: 1px solid;
	text-align: center;
	color: #fff;
	font-weight: 600;
	border: 1px solid transparent;
}

.social-media-login .facebook {
	background: #4267b2;
}

.social-media-login img {
	margin-right: 10px;
}

.social-media-login .google {
	background: #fafafa;
	border-color: #d2cfcf;
	color: #333 !important;
}

input::-webkit-input-placeholder {
	color: #333 !important;
	font-size: 14px;
	font-weight: 600;
	}
	 
	input:-moz-placeholder { /* Firefox 18- */
	color: #333 !important;  
	font-size: 14px;
	font-weight: 600;
	}
	 
	input::-moz-placeholder {  /* Firefox 19+ */
	color: #333 !important;  
	font-size: 14px;
	font-weight: 600;
	}
	 
	input:-ms-input-placeholder {  
	color: #333 !important;  
	font-size: 14px;
	font-weight: 600;
	font-size: 15px;
	}

.modal .close span:nth-child(2) {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

.terms {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
}

.terms, .account-confirmation,.profile-description-form-intro {
	color: #827f7f;
}

.profile-description-form-intro {
	margin-bottom: 25px;
}

.account-confirmation {
	padding-top : 15px;
	margin-top: 15px;
	text-align: center;
	border-top: 1px solid #f4f4f4;
}

.account-confirmation a {
	font-weight: 600;
}

.pw-confirmation {
	margin-bottom: 15px;
	text-align: right;
}

.upload-text {
	color: #827f7f;
	font-size: 14px;
	text-align: center !important;
	display: inline-block;
}

.modal .user-image {
	text-align: center;
}

.modal .user-image img{
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin: 35px auto;
	margin-bottom: 15px;
}

.modal .upload-icon {
	text-align: center;
}

.modal .upload-icon img {
	display: inline-block;
}

.modal .slick-dots {
	left: 0;
	bottom: -84px;
}

.modal .slick-dots li button {
	border-radius: 50%;
	height: 15px;
	width: 15px;
	background: #bbbbbd;
	text-indent: 10000;
}

.modal .slick-dots li.slick-active button{
	background: #4d6de3;
}


.slick-dots li button:before {
	content: '';
}

.slick-dots li {
	margin: 0;
}

.signup-steps-control span {
	display: inline-block;
}

.modal .slick-track {
	min-width: 100%;
}

.modal .slick-slide {
	width: 100%;
}

.signup-steps-control {
	padding: 20px;
	text-align: right;
	border-top: 1px solid #bbbbbd;
}

.signup-steps-control span {
	display: inline-block;
	padding: 10px 20px;
	font-weight: 600;
	border-radius: 2px;
}

.signup-steps-control span.skip {
	color: #4d6de3;
}

.signup-steps-control span.next {
	background: #4d6de3;
	color: #fff;
}
.main-remember {
	display: inline-block;
	float: left;
}

.main-remember label {
	font-weight: 400;
}

.inside-page .hamburger-menu span {
	background: #4d6de3
}

.inside-page .main-header {
	background: #fff;
}

.inside-page .main-header ul li a {
	color: #999999;
}

.inside-page .main-header .mid-nav li:first-child a {
	color: #fff;
}

.inside-page .notification-menu span {
	color: #fff;
}

.inside-page .banner-image img {
	width: 100%;
	max-height: 275px;
	object-fit: cover;
}

.inside-page {
	background-color: #ecedef;
	padding-top: 110px;
	padding-bottom: 45px;

}

.inside-page .main-body-wrapper {
	padding: 0;
	background: #f8f9fc;
	padding-bottom: 50px;
}

.inside-page .profile-sidebar img{
	height: 175px;
	width: 175px;
	object-fit: cover;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-top: -116px;
}

.inside-page .sidebar-image-container {
	text-align: center;
}

.inside-page .profile-sidebar {
	margin-top: 25px;
	padding-bottom: 25px;
	padding: 0;
}

.inside-page h4,
.inside-page .profile-sidebar .badges,
.inside-page .profile-sidebar .user-name {
	font-weight: 600;
	margin-top: 15px;
	text-align: left;
	font-size: 18px;
}

.inside-page .sidebar-info-container,
.inside-page .profile-name-image {
	background: #fff;
	padding: 25px;
	border-radius: 2px;
	border: 1px solid #e1e2e4;
}

.inside-page .preference-description div,
.inside-page .sidebar-info-container span,
.inside-page .profile-name-image span{
	width: 100%;
	display: inline-block;
	text-align: left;
	font-size: 13px;
	color: #999999;
}

.inside-page .profile-name-image .location {
	padding-left: 15px;
	background: url(../images/location.png) no-repeat;
}

.inside-page .sidebar-info-container .badges,
.inside-page .sidebar-info-container .badge-id {
	text-transform: uppercase !important;
	margin-top: 0;
}

.inside-page .sidebar-info-container .badge-id {
	font-style: italic;
}

.inside-page .sidebar-info-container .mobile {
	padding-left:  20px;
	background: url(../images/phone.png) no-repeat;
	background-size: 14px;
	margin-top: 15px;
}

.inside-page .sidebar-info-container {
	margin-top: 25px;
	padding-top: 0px;
}

.inside-page .sidebar-info-container button {
	margin-top: 15px;
	background: transparent;
	border: 1px solid #e1e2e4;
	color: #4d6de3;
	padding: 5px 15px;
	border-radius: 2px;
}

.inside-page .sidebar-info-container .sidebar-sub-container {
	padding: 25px 0;
	border-bottom: 1px solid #e1e2e4; 
}

.inside-page .sidebar-info-container .sidebar-sub-container:nth-last-child(1) {
	padding-bottom: 0 !important;
	border-bottom:  0 !important;
}

.inside-page .sidebar-info-container .license-desc {
	margin-top: 15px;
}

.inside-page .main-profile-info-wrapper {
	background: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
}

.inside-page .main-profile-container {
	padding-right: 0;
}

.inside-page .main-profile-content-container {
	padding-right: 0;	
}

.inside-page .preference-span-wrapper span {
	display: inline-block;
	font-size: 15px;
	color: #333;
	/*border-bottom: 3px solid #333;*/
	padding-bottom: 7px;
	font-weight: bold;
}

.inside-page .preference-span-wrapper span:nth-child(1) {
	color: #4d6de3;
	border-bottom: 2px solid #4d6de3;
}

.inside-page .preference-span-wrapper span:last-child {
	margin-left: 15px;
}

.inside-page .preference-container {
	padding-top: 10px;
	border: 1px solid #e1e2e4;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	background: #f6fafd; 
	float: right;
}

.inside-page .preference-span-wrapper {
	border-bottom: 1px solid #e1e2e4;
	padding-left: 15px;
	padding-right: 15px;
}

.inside-page .main-profile-info-wrapper ul li img {
	max-height: 15px;
	object-fit: contain;
}

.inside-page .main-profile-info-wrapper .portfolio-images img {
	max-height: 120px;
	width: 120px;
	object-fit: cover;
	border-radius: 2px
}

.inside-page .main-profile-info-wrapper ul {
	margin-left: 0;
	padding-left: 0;
}

.inside-page .main-profile-info-wrapper ul li {
	list-style: none;
	display: inline-block;
}

.inside-page .preference-description {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: center;
}

.inside-page .preference-description div {
	text-align: center;
}

.inside-page .preference-description .completion {
	width: fit-content;
	padding-right: 20px;
	background: url(../images/info-background.png) no-repeat;
	background-position: right;
}

.inside-page .main-profile-info-wrapper .description .about {
	border: 1px solid #e1e2e4;
	border-radius: 2px;
	margin-top: 40px;
	padding-bottom: 15px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.inside-page .main-profile-info-wrapper .description p {
	font-size: 14px;
	color: #999999;
	margin-top: 20px;
}

.inside-page .main-profile-info-wrapper img {
	height: initial;
	object-fit: contain;
}

.inside-page .main-profile-info-wrapper .description {
	padding-right: 0;
}

.inside-page .main-profile-info-wrapper .edit {
	position: absolute;
	height: 35px;
	object-fit: contain;
	width: fit-content;
	right: -15px;
	top: -15px;
	cursor: pointer;
}

.inside-page .main-profile-info-wrapper .portfolio-images {
	display: flex;
	justify-content: space-between;
}

.inside-page .about h5 {
	text-transform: uppercase;
	width: 100%;
}

.inside-page .about .tag-container {
	font-style: italic;
	color: #999;
	/* padding-left:0; */
	padding-right: 0;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.inside-page .tag-container span{
	display: inline-block;
	padding: 5px;
	background:#f2f3f6;
	border-radius: 2px;
	margin-top: 5px;
}

.inside-page .about .preference-span-wrapper {
	padding-left: 0;
}

.inside-page .about .preference-span-wrapper select {
	float: right;
	padding: 3px 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #f4f4f4;
	margin-top: -5px;
	
}

.inside-page .about .preference-span-wrapper .as-poster {
	margin-left: 10px;
}

.inside-page .review-container .review-image-container {
	width: 100px;
	float: left;
}

.inside-page .review-container .review-image-container img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.inside-page .review-container .col-md-6 {
	margin-top: 25px;
}

.inside-page .review-container .col-md-6:nth-child(odd) {
	padding-left: 0;
}

.inside-page .review-container .col-md-6:nth-child(even) {
	padding-right: 0;
}

.inside-page .review-container .review-text-container {
	width: calc(100% - 120px);
	float: right;
}

.inside-page .review-text-container ul {
	margin-bottom: 0;
}

.inside-page .review-container .time {
	color: #d6d6d6;
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

.inside-page .review-container .logo-info {
	color: #4d6de3;
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}


.inside-page .reviewer-name {
	color: #4d6de3;
}

.inside-page .review-desc {
	color: #999;
}

.nav-container {
	padding-right: 0;
}

.tasker .tasker-container {
	background: #fff;
	display: flex;
}

.account-menu a {
	margin-right: 0;
}

.tasker-container {
	padding: 0;
}

.inside-page .tasker-sidebar {
	background: #f8f9fc;
	border: 1px solid #d9d9d9;
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 30px;
	border-top: 0;
	border-bottom: 0;
}

.inside-page .tasker-sidebar .form-group {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 40px;
	margin-bottom: 0;
}

.inside-page .tasker-sidebar .form-group input{
	padding: 20px;
	border-radius: 0;
	position: relative;
	padding-right: 40px;
	font-weight: 400 !important;
	font-size: 12px !important;
}

.inside-page .tasker-sidebar .form-group .btn-primary {
	position: absolute;
	right: 15px;
	top: 0;
	padding: 10px 20px;
	background: transparent;
	height: 42px;
	border: 0; 	 
	background: url(../search.png) center no-repeat;

}

.inside-page .tasker-sidebar .form-group .btn-primary:focus,
.inside-page .tasker-sidebar .form-group .btn-primary:active,
.inside-page .tasker-sidebar .form-group .btn-primary:hover {
	border: 0;
	outline: 0;
	box-shadow: 0;
}

.inside-page .tasker-main ul,
.inside-page .tasker-sidebar ul {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}

.inside-page .tasker-main ul {
	border: 1px solid #d1d2d2;
	border-radius: 2px;
}


.inside-page .tasker-sidebar ul li {
	cursor: pointer;
	list-style: none;
	padding: 20px;
}	

.inside-page .tasker-main ul li:last-child {
	border-bottom: 0;
}

.inside-page .tasker-main ul li {
	list-style: none;
}

.inside-page .tasker-sidebar ul li {
	text-transform: uppercase;
	color: #333333;
	font-weight: 600;
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px 0 0px 0;
}

.inside-page .tasker-sidebar ul li:last-child {
	border-bottom: 1px solid #d9d9d9;
}

.inside-page .tasker-sidebar ul li:focus,
.inside-page .tasker-sidebar ul li:active,
.inside-page .tasker-sidebar ul li:hover {
	background: #e7ebf7;
	color: #4d6de3;
}

input::placeholder { 
	color: #999999 !important; 
	opacity: 1; 
  }
  
input:-ms-input-placeholder { 
	color: #999999 !important;
}
  
input::-ms-input-placeholder { 
	color: #999999 !important;
}

.inside-page .tasker-main {
	padding: 30px 20px;
}

.tasker-main h3 {
	margin-top: 0;
	font-weight: 700;
	color: #333333;
	font-size: 24px;
	border-bottom: 2px solid #f8f9fc;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

.inside-page .tasker-main .tasker-wrapper {
	/* display: flex; */
}

.inside-page .tasker-main .task_row {
	padding-left: 40px;
	display: block;
	line-height: 12px;
	position: relative;
	padding-top: 5px;
}

.inside-page .tasker-main li {
	padding: 15px;
	border-bottom: 1px solid #d1d2d2;
}

.inside-page .tasker-main li:nth-child(odd) {
	background: #f8f9fc;
}

.inside-page .tasker-main .task_row::before {
	content: '';
	position: absolute;
	width: 35px;
	height: 30px;
	display: inline-block;
	background: url(../tasker-table-background.png);
	left: 0;
	top: 0;
}

.inside-page .tasker-main .task_row_second::before {
	background-position: 72px 64px;
}

.inside-page .tasker-main .task_row_third::before {
	background-position: 150px 64px;
}

.inside-page .task_row_fifth,
.inside-page .task_row_fourth {
	padding-left: 0 !important;
	padding: 0 20px !important;
}

.inside-page .tasker-main .task_row_fifth::before,
.inside-page .tasker-main .task_row_fourth::before {
	display: none;
}

.inside-page .tasker-main .task_row img {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	object-fit: cover;
}


.inside-page .tasker-main .task_row span {
	display: inline-block;
	width: 100%;
	color: #323232;
	font-size: 12px;
}

.inside-page .tasker-main .task-purpose {
	font-size: 16px;
	margin: 10px 0;
	margin-top: 0;
	font-weight: 600;
	text-transform: capitalize;
	color: #4d6de3;
	display: block;
}

.inside-page .tasker-main .task_row .title {
	font-size: 12px;
	text-transform: uppercase;
	color: #747475;
	display: inline-block;
	clear: both;
}

.inside-page .tasker-main .badge {
	font-size: 12px;
	color: #fff !important;
	background: #61c530;
}

.inside-page .tasker-main .task_row:last-child {
	text-align: center;
}

.inside-page .tasker-main .task-price {
	font-size: 22px !important;
	font-weight: 700 !important;
	margin-top: 10px;
}

.add-tasker {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #cecdcd;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-bottom: 45px;
}

.add-tasker h3 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	background: #f2f4fd;
	border-radius: 3px 3px 0 0;
}

.add-tasker .main-option-container {
	background: #f9f9f9;
	border-top: 1px solid #cecdcd;
	border-bottom: 1px solid #cecdcd;
}

.add-tasker .option-container {
	padding: 45px;
}

.add-tasker  label {
	color: #999999;
	font-size: 15px;
}

.add-tasker .radio {
	display: inline-block;
	padding-left: 30px
}

.add-tasker .radio1 {
	padding-left: 0px !important;
}

.add-tasker .budget-container .form-control {
	width: 120px;
}

.add-tasker .budget-container .confirmation-image-holder {
	left: 160px;
	top: 10px;
}

.add-tasker .budget-container {
	padding: 45px;
}

.add-tasker .budget-container .value {
	display: inline-block;
    position: absolute;
    left: 125px;
	top: 16px;
	color: #999999;
	font-size: 15px;
}

.add-tasker .budget-container .col-md-6 {
	padding: 15px;
	padding-top: 0;
}

.add-tasker .budget-confirmation{
	padding-left: 0 !important;
}

.add-tasker .number-of-tasker {
	padding-right: 0 !important;
}

.add-tasker .budget-container .col-md-6>div {
	padding: 20px;
	background: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #d1d1d3;
}

.add-tasker .budget-calculation {
	text-align: center;
	background: #edf1fc;
	padding: 15px;
	border-radius: 3px;
	margin: 15px 0;
}

.add-tasker .budget-calculation h3 {
	background: transparent;
	font-weight: 600;
	font-size: 24px;
	padding: 0;
	padding-bottom: 15px;
	color: #999999;
}

.add-tasker .budget-calculation h4 {
	text-align: center;
	text-transform: none;
	margin-bottom: 0;
}

.add-tasker .budget-container .number-of-tasker .form-group {
	margin-top: 20px;
}

.add-tasker .budget-container .number-of-tasker .confirmation-image-holder {
	left: 190px;
}

.add-tasker button {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	padding: 15px 50px;
	margin: 0 auto;
	display: block;
	background: #4d6de3;
}

.add-tasker h4 {
	text-transform: uppercase;
	color: #928f8f;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 25px;
}

.add-tasker .main-tasker-input-wrapper {
	padding: 45px;
}

.add-tasker .info-image-wrapper {
	display: inline-block;
	padding-left: 20px;
	cursor: pointer;
}

.add-tasker .main-tasker-input-wrapper label {
	margin-bottom: 15px;
}

.add-tasker  .form-control {
	width: 80%;
}

.add-tasker .form-group {
	position: relative;
}

.add-tasker  .confirmation-image-holder {
	position: absolute;
	right: 10%;
	top: 50%;
}

.add-tasker .date-wrapper .confirmation-image-holder {
	top: 10%;
}

.add-tasker .date-wrapper {
	padding: 45px;
	background: #f9f9f9;
}


.modal-content .modal-title {
	font-size: 18px;
    font-weight: bold;
}

.modal-content .modal-header {
	text-align: center;
	padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-content .upload-text {
	color: #827f7f;
    font-size: 14px;
    text-align: center !important;
    display: inline-block;
}

.modal-content .slick-dots {
	display: block;
    position: initial;
    padding: 20px;
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
}

.modal-content .slick-arrow {
    right: 20px;
    top: auto;
    bottom: -2px !important;
    display: inline-block;
    padding: 18px 20px;
    font-weight: 600;
    border-radius: 2px;
    background: #4d6de3;
    color: #fff;
    font-size: 14px !important;
    font-weight: 400;
    font-family: 'Open Sans' !important;
    display: inline-block;
    height: initial !important;
	width: initial !important;
}


.modal-content .slick-arrow:hover,
.modal-content .slick-arrow:focus {
	background: #4d6de3;
	color: #fff !important;
}

.modal-content .slick-prev {
	right: auto;
	left: 20px;
}

.modal-content .main-signup-content.phase-2 .radio{
	display: inline-block;
}

.modal-content .main-signup-content.phase-2 .radio:nth-child(2) {
	padding-left: 20px;
}

.modal-content .main-signup-content.phase-2 .address-selector {
	margin: 20px 0;
	display: flex;
}

.modal-content .main-signup-content.phase-2 .address-selector .form-group {
	display: inline-block !important;
	width: calc(100% - 120px) !important;
	margin: 0 !important;
}


.modal-content .form-group {
	margin-top: 20px;
}

/* .modal-content .main-signup-content.phase-2 button {

} */

.modal-content .main-signup-content.phase-2 .address-selector  .form-group.kilometer{
	width: 100px !important;
	display: inline-block !important;
	margin-right: 0 !important;	
	margin-left: 20px !important;
}

.modal-content .slick-dots li {
	margin: 0;
}

.modal-content .slick-dots li button::before {
	display: none;
}

.modal-content .skip {
	position: absolute;
    bottom: 23px;
    right: 111px;
}

.modal-content .alert-button {
	display: inline-block;
    width: 100%;
	margin-top: 10px;
	color: #928f8f;
}

.modal-content .main-signup-content .form-group.mobile-number button {
	width: 100px;
	display: inline-block;
	margin-left: 20px;
}

.modal-content .main-signup-content .form-group.mobile-number input {
	width: calc(100% - 120px);
	display: inline-block;
}

.modal-content .main-signup-content .form-group.mobile-number span {
	display: block;
	margin: 20px 0;
	color: #928f8f;
}

.modal-content .main-signup-content p {
	color: #928f8f;
}

.modal-content .btn-success {
	max-width: 170px;
}

.modal-content .final-image-holder {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background: #e3e9fe;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.modal-content .final-image-holder img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.modal-content .signup-first label {
	font-weight: 400;
}

.modal-content .form-check-label {
	padding-left: 15px;
}

.modal-content .signup-desc {
	display: inline-block;
	margin-bottom: 20px;
}

.right-nav-list li {
	cursor: pointer;
}

.make-offer {
	margin-top: 20px;
	text-align: center;
}

.make-offer-button {

}

.new-task-added {
	-webkit-font-smoothing: antialiased;
    font-weight: 700;
	display: block;
	height: 34px;
	text-align: center;
    width: 100%;;
    margin: 10px auto;
    border-radius: 4px;
    pointer-events: none;
    text-align: center;
	color: #fff;
	margin-top: 0 !important;
	background: #4d6de3;
    line-height: 34px;
    font-size: 11px;
    text-transform: uppercase;
    transition: transform .6s cubic-bezier(.68,-.55,.265,1.55),opacity .6s ease;
    box-shadow: 4px 6px 8px rgba(202,215,220,.6);
}

.number-of-offers {
	display: inline-block;
	padding-left: 10px;
	position: relative;
}

.number-of-offers::before {
	content: '';
	position: absolute;
	left: 0;
	top: 7px;
	background: #999;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.task-listing-left {
	padding-left: 0;
}

.tasker-detail img,
.task-price-info img{
	margin: 20px auto;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
	border: 1px solid #999;
}

.tasker-detail img {
	margin: 0;
	margin-top: -20px;
}

.tasker-name {
	display: inline-block;
	padding-left: 20px;
}

.tasker-name .posted-by {
	font-size: 12px;
    letter-spacing: .4px;
	text-transform: uppercase;
	font-weight: 700;
	color: #999;
}

.tasker-name .posted-name {
    color: #008fb4;
    background-repeat: no-repeat;
	background-size: 16px;
	display: block;
}

.main-task-detail .posted-time {
	position: absolute;
    right: 5px;
	bottom: 15px;
	font-size: 12px;
}

.task-user-image {
	text-align: center;
}

.task-listing-wrapper {
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	border-left: 3px solid #777;
}

.task-listing-wrapper-completed {
	border-color: #9fc104;
}

.task-listing-wrapper:hover {
	box-shadow: 1px 3px 10px #999;
}

.task-listing-wrapper:hover .status {
	opacity: 0.8;
}

.task-listing-wrapper h3 {
	margin: 0;
}

.task-listing-wrapper .task-info {
	width: 80%;
	flex: 1;
}

.task-listing-wrapper .task-info h3 {
	font-size: 17px;
}

.task-listing-wrapper .task-price-info {
	font-weight: 500;
	font-size: 24px;
}

.task-info p {
	font-size: 12px;
	margin: 5px 0;
	padding-left: 20px;
	color: #999;
	position: relative;
}

.task-info h3 {
	margin-bottom: 20px;
}

.task-info p::before {
	content: '';
	position: absolute;
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(../../static/task-detail.png);
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}

.task-status {
	color: #999;
	font-size: 12px;
	width: 100%;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #f4f4f4;
}

.task-info .status {
	text-transform: uppercase;
}

.task-status .status {
	color: #4d6de3;
	display: inline-block;
	padding-right: 10px;
	font-weight: 500;
}

.task-listing-wrapper-completed .status {
	color: #9fc104;
}

.main-detail-container p {
	font-weight: 300;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 13px;
	line-height: 1.4;
	margin-bottom: 0;
	padding-left: 10px;
	color: #999
}

.main-detail-container .detail-starter {
	font-size: 12px;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: uppercase;
	height: 22px;
	color: #999;
	padding-left: 0;
	margin: 15px 0;
}



.main-detail-container {
	margin-top: 30px;
}

.task-info .task-status {
	padding-top: 10px;
	border-top: 1px solid #999;
	flex: 1;
}

.task-info .calendar::before {
	background-position-x: -19px;
}

.task-info .web::before {
	background-position-x: -39px;
}

.main-task-detail {
	background: #fff;
	padding-top: 10px;
	padding-bottom : 15px; 
}

.tag-wrapper span {
	font-weight: 700;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 2px 10px;
    color: #cad7dc;
	letter-spacing: .36px;
	margin: 0 5px;
}

.tag-wrapper span:first-child {
	background-color: #daf196;
	color: #809f24;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.main-task-name {
	height: auto;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #3a3d3e;
	font-size: 24px;
}

.tasker-detail-wrapper {
	position: relative;
	border-bottom: 1px solid #f4f4f4;
	padding: 20px 0;
}

.tasker-detail-wrapper:last-child {
	border: 0;
}

.tasker-detail.another-detail img{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border: 0;
	height: 25px;
	width: 25px;
	object-fit: contain;
}

.tasker-detail p {
	margin: 0;
}

.offerer-details img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
	display: inline-block;
	margin-top: -15px;
}

.offerer-info {
	display: inline-block;
	padding-left: 20px;
}

.offerer-rating {
	padding-left: 0;
	display: inline-block;
}

.offerer-name {
	padding-left: 0 !important;
	font-weight: 700 !important;
	color: #4267b2 !important;
	margin-bottom: 10px;
}

.offerer-rating img {
	height: 15px;
	object-fit: contain;
	width: 15px;
	margin-top: 0;
}

.number-of-rating {
	font-size: 10px;
	color: #999;
	display: inline-block;
	padding-left: 5px;
}

.completion-rate {
	font-size: 12px;
    font-weight: 700;
	padding: 0px 4px;
	color: #839094;
	background-color: rgb(245, 249, 251);
    margin-right: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-image: initial;
	border-radius: 100px;
	margin: 0 10px;
}

.completion-rate-info-text {
	font-size: 12px;
	color: #999;
	padding-right: 20px;
	position: relative;
}

.offerer-comment {
	padding-left: 40px;
}

.main-offerer-comment-wrapper {
	padding: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	background: rgb(245, 249, 251);
}

.questions-starter {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 1px solid #f4f4f4;
}

.main-offerer-comment-wrapper p {
	margin-bottom: 15px;
}

.questions-starter .offerer-details {
	margin-top: 40px;
}

.questions-starter .offerer-details img {
	margin-top: 0;
}

.time-counter {
	font-size: 10px;
	display: inline-block;
	margin-top: 3px;
	color: #999;
}

.main-task-value h2 {
	line-height: 1;
    padding: 8px 0px;
	border-bottom: 1px solid rgb(241, 241, 241);
	color: rgb(58, 61, 62);
	font-weight: 500;
	margin: 0;
}

.side-budget-title {
	line-height: 26px;
    color: rgb(131, 144, 148);
    font-size: 12px;
    font-weight: 700;
	letter-spacing: 0.4px;
	margin-bottom: 0;
    text-transform: uppercase;
    padding: 4px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.make-offer-button,
.make-an-offer {
	color: #fff;
	cursor: pointer;
	line-height: 1.4;
	display: inline-block;
	box-sizing: border-box;
	letter-spacing: .05em;
	transition: background .5s linear,color .5s linear,box-shadow .5s linear;
	margin-right: 4px;
	padding: 10px 30px;
	margin: 10px 0;
	text-align: center;
	white-space: nowrap;
	background: #a4be01;
	background: linear-gradient(-180deg,#a4be01,#82ac02);
	box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #9dd801;
	text-shadow: 0 1px 1px #5f7900;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.make-offer-button {
	display: block;
	width: fit-content;
	margin: 10px auto;
}

.questions-starter .make-offer-button {
	display: inline-block;
	margin: 10px;
}

.login-to-comment h2 {
	color: #999;
	font-weight: 700;
	font-size: 20px;
}

.login-to-comment  {
	text-align: center;
	margin: 20px 0;
}

.main-task-value {
	text-align: center;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(202, 215, 220);
    border-image: initial;
    border-radius: 6px;
}

.second-offerer-details {
	padding-left: 40px;
	margin-top: 20px;
}

.task-detail-media p {
	background: #fff;
	position: absolute;
	top: -7px;
	width: 30%;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: .67px;
	text-transform: uppercase;
	margin: 0;
	color: #999;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
}

.task-detail-media {
	border: 1px solid #f4f4f4;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	position: relative;
	-o-border-radius: 5px;
}

.report-task i,
.task-detail-media i {
	color: #999;
	display: inline;
	margin: 10px;
}

.report-task {
	font-size: 12px;
	color: #999;
	cursor: poiner;
	margin-top: 10px;
	text-align: center;
}

.main-comment-section .time-counter {
	padding-left: 10px;
}

.main-comment-section {
	padding-left: 50px;
}

.main-task-options {
	float: right;
}

.main-task-options .form-control {
	padding: 0;
	margin-top: 15px;
}

.completion-rate-info-text::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	background: url(../../static/info-background.png);
	background-size: 15px;
}

.offerer-rating li {
	display: inline-block;
	list-style: none;
}

@media (max-width: 1200px) {
	.nav-container {
		position: fixed;
		left: 0;
		width: 100%;
		background: #fff;
		height: calc(100vh - 80px);
		top: 80px;
		background: #f4f4f4;
		padding: 0;
		margin-left: -100%;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		-moz-transition: 0.3s all;
		overflow-x: auto;
	}

	.right-nav-list li {
		position: relative;
		z-index: 1;
	}

	.right-nav-list .account-menu {
		z-index: 0;
	}


	.dummy-hover,
	.account-list:before {
		display: none;
	}

	.notification-menu, .account-menu a {
		display: inline-block !important;
		width: 33.33% !important;
		border: 0 !important;
		float: left;
		text-align: center !important; 
	}

	.account-list {
		width: 100vw;
	}

	.notification-menu img {
		filter: invert(70%);
		-webkit-filter: invert(70%);
		-moz-filter: invert(70%);
		-o-filter: invert(70%);
	}

	.main-header .account-menu>a {
		padding-top: 15px;
	}

	.account-menu .account-list a {
		display: block !important;
		width: 100% !important;
		float: none !important;
		text-align: left !important;
 	}

	.account-list {
		position: unset;
		width: 100%;
		clear: both;
	}

	.nav-container-visible {
		margin-left: 0;
	}

	.navbar-brand-hidden {
		opacity: 0;
	}

	.mid-nav {
		padding: 0;
		width: 100%;
		float: right;
	}

	.right-nav {
		padding: 0;
		width: 100%;
		float: left;
	}
	.navbar-header {
		padding-left: 10px;
	}

	.main-header ul li {
		display: block;
		text-align: left;
	}

	.notification-menu span {
		right: auto;
		left: 54%;
		top: 14px;
		transform: translateX(-54%);
		-webkit-transform: translateX(-54%);
		-moz-transform: translateX(-54%);
		-o-transform: translateX(-54%);
		color: #fff;
	}

	.main-header .mid-nav li:first-child a {
		display: block;
		width: 100%;
		text-align: center;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		padding: 0;
		color: #fff;
		margin: 10px 0;
		border: 0;
		overflow: hidden;
		white-space: nowrap;

	}

	.main-header .mid-nav li:first-child a .plus {
		display: inline-block;
		width: 25px;
		height: 2px;
		background: #fff;
		position: absolute;
		top: 33px;
		right: 12px;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		-moz-transition: 0.3s all;
	}

	.main-header .mid-nav li:first-child a .plus:nth-child(2) {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);

	}
 
	.main-header .mid-nav li:first-child a span.text{
		opacity: 0;
	}

	.main-header ul li a {
		display: inline-block;
		color: #292929;
		padding: 25px 10px;
		margin: 0;
		width: 100%;
		border-bottom: 1px solid #888;
		border-radius: 0px;
		line-height: 0;
	}

	.task-detail,
	.container {
		width: 98%;
	}

	.task-listing-left {
		padding: 0;
	}

	.main-action {
		position: fixed;
		right: 28px;
		top: 7px;
	}

	.main-header .mid-nav .main-action-visible a {
		width: 150px !important;
		border-radius: 5px !important;
	}

	.main-header .mid-nav .main-action-visible a .plus {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		opacity: 0;
	}

	.main-header .mid-nav .main-action-visible a .text {
		opacity: 1 !important;
		line-height: 48px !important;
			transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
		transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;

	} 

	.navbar-brand{
	    position: fixed;
	    top: 30px;
	    left: 50%;
	    height: 32px;
	    transform: translateX(-54%);
	    transition: 0.3s all;
		-webkit-transition: 0.3s all;
		-moz-transition: 0.3s all;
	}

	.navbar-brand img {
		height: 32px;
	}

	.hamburger-menu {
		width: 30px;
		display: block;
		height: 30px;
		cursor: pointer;
		position: relative;
	}

	.hamburger-menu span {
		width: 100%;
		height: 2px;
		display: inline-block;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		-moz-transition: 0.3s all;
	}

	.hamburger-menu span:nth-child(2) {
		top: 10px;
	}

	.hamburger-menu span:nth-child(3) {
		top: 20px;
	}

	.navbar-header {
		padding-top: 10px;
	}

	.hamburger-menu-visible span:nth-child(2) {
		opacity: 0;
	}

	.hamburger-menu-visible span:first-child {
		margin-top: 7px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);

	}

	.hamburger-menu-visible span:last-child {
		margin-top: -12px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}

	.banner-text {
		width: 100%;
		text-align: center;
	}

	.banner-text h2,
	.info-text h2  {
		font-size: 30px;
	}

	.slick-arrow {
		display: none;
	}

	.account-menu .name {
		margin-bottom: 21px;
	}


	.banner-text p,
	.info-text p {
		font-size: 16px;
	}
	.decorative-container {
		display: none;
	}

	.video-container video {
		max-width: 100%;
	}

	.offers-sliders h2 {
		font-size: 30px;
	}

	.social-media-holder {
		margin-top: 50px;
	}

	.main-footer .social-media-holder h4 {
		margin-top: 30px;
	}
} 

@media(max-width:1101px) {
	.inside-page .review-container .col-md-6 {
		width: 100%;
		padding: 0 !important;
	}

	.tasker .tasker-container {
		display: block;
	}

	.tasker-main .tasker-wrapper {
		padding: 15px 0;
	}

	.tasker-main .tasker-wrapper .task_row {
		min-width: 195px;
	}

	/* .tasker-main .tasker-wrapper .task_row_fourth {
		disp
		text-align: center;
	} */

	.tasker-main .tasker-wrapper {
		display: flex;
		overflow-x: auto;
	}

	.inside-page .portfolio-wrapper {
		overflow-x: auto;
	}

	.inside-page .portfolio-wrapper .portfolio-images li + li {
		margin: 0 10px;
	}

	.inside-page .portfolio-wrapper .portfolio-images li:first-child {
		margin-right: 10px;
	}

}


@media(max-width: 992px) {
	.add-tasker .budget-container .col-md-6 {
		padding-right: 0;
		padding-left: 0;
	}

	.main-task-options {
		float: none;
	}

	.main-task-detail {
		padding-left: 0;
		padding-right: 0;
	}

	.add-tasker .radio {
		display: block;
		padding-left: 0 !important;
	}

	.add-tasker .confirmation-image-holder {
		right: 0px;
	}
}

@media(max-width: 768px) {
	.col-sm-3 {
		padding-left: 0;
		text-align: center;
		margin-top: 30px;
	}

	.add-tasker .main-tasker-input-wrapper,
	.add-tasker .date-wrapper,
	.add-tasker .budget-container,
	.add-tasker .option-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.main-action {
		right: 15px;
	}

	.social-media-holder {
		text-align: center;
	}

	.social-media-holder ul {
		width: fit-content;
		margin: 0 auto;
	}

	.signup-steps-control {
		padding-top: 70px;
	}

}

@media(max-width: 350px) {
	.main-offers-wrapper {
		display: block !important;
		padding: 0 20px;
		padding-bottom: 20px;
	}

	.bottom-content {
		position: initial;
		padding-top: 20px;
	}

	.main-offers-wrapper .col-md-3 {
		padding: 0;
	}

	.main-offers-wrapper .col-md-3 img {
		width: 100%;
		margin: 0 auto;
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 600px;
	}

	.inside-page .main-profile-content-container {
		padding-right: 15px;
	}

	.inside-page .main-profile-container {
		padding-left: 0;
	}

	.inside-page .preference-container {
		float: none;
	}

	.inside-page .main-profile-info-wrapper .description {
		padding-left: 0;
	}
	
	.inside-page .review-container .col-md-6 {
		display: flex;
		display: -webkit-flex;
		
	}

	.inside-page .review-container .review-text-container {
		margin-left: 25px;
	}
}

@media(max-width:572px) {
	.social-media-login {
		display: block;
	}

	.modal .slick-dots li button {
		margin-top: -50px;
	}

	.modal-body {
		padding: 20px;
	}

	.offer-starter .offerer-details {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	.offer-starter .completion-rate {
		margin-left: 0px;
	}

	.social-media-login a {
		width: 100%;
	}

	.modal-content .modal-header {
		padding-left: 35px;
		padding-right: 35px;
	}

	.social-media-login .google {
		margin-top: 15px;
	}
}

@media(max-width: 540px) {
	.inside-page .review-container .col-md-6 {
		flex-wrap: wrap;
		text-align: center;
	}

	.questions-starter .make-offer-button {
		display: block !important;
		margin: 10px auto;
	}

	.inside-page .review-container .review-text-container {
		margin-left: 0px;
		width: 100%;
		float: none;
	}

	.modal-content .main-signup-content.phase-2 .address-selector {
		display: block !important;
	}

	.modal-content .main-signup-content.phase-2 .address-selector .form-group {
		width: 100% !important;
	}

	.modal-content .main-signup-content.phase-2 .address-selector .form-group.kilometer{
		width: 100%;
		margin-left: 0 !important;
		margin-top: 20px !important;
	}

	.inside-page .review-container .review-image-container {
		width: 100%;
		float: none;
	}

	.modal-content .main-signup-content {
		padding: 20px 15px;
	}

}

@media (min-width: 1200px) {
	.account-menu a {
		margin-right: 0 !important;
	}

	.account-menu .user-image {
		margin-left: 0;
	}
}